# Спууки автори

[Линк към дейтасета](https://www.kaggle.com/c/spooky-author-identification/data)

# Зареждане на нужните библиотеки

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import mglearn

from sklearn.linear_model import Lasso, LogisticRegression

from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier

from sklearn.svm import SVC

from sklearn.preprocessing import \
    Imputer, \
    LabelBinarizer, \
    StandardScaler, \
    PolynomialFeatures

from sklearn.pipeline import Pipeline, FeatureUnion

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.cross_validation import StratifiedKFold
from sklearn.grid_search import GridSearchCV

from IPython.display import display

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
sns.set()

In [6]:
# Loading the data
train = pd.read_csv('data/spooky-train.zip', index_col='id')
test = pd.read_csv('data/spooky-test.zip', index_col='id')

full_data = [train, test]

# Lets have a look at the data
train.head(5)

                                                      text author
id
id26305  This process, however, afforded me no means of...    EAP
id17569  It never once occurred to me that the fumbling...    HPL
id11008  In his left hand was a gold snuff box, from wh...    EAP
id27763  How lovely is spring As we looked from Windsor...    MWS
id12958  Finding nothing else, not even gold, the Super...    HPL

# Разглеждане на нейтасета

In [7]:
train.describe()

                                                     text author
count                                               19579  19579
unique                                              19579      3
top     If, dating our inquiries from the body found, ...    EAP
freq                                                    1   7900

In [19]:
train['text'].apply(lambda t: len(t)).describe()

count    19579.000000
mean       149.057408
std        106.800189
min         21.000000
25%         81.000000
50%        128.000000
75%        191.000000
max       4663.000000
Name: text, dtype: float64

In [20]:
train['text'].apply(lambda t: len(t.split(' '))).describe()

count    19579.000000
mean        26.730477
std         19.048353
min          2.000000
25%         15.000000
50%         23.000000
75%         34.000000
max        861.000000
Name: text, dtype: float64

*Текстовете не са много дълги. Имаме средно по:*
 - 150 символа
 - 25 думи

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19579 entries, id26305 to id00393
Data columns (total 2 columns):
text      19579 non-null object
author    19579 non-null object
dtypes: object(2)
memory usage: 1.1+ MB

In [22]:
train.isnull().sum()

text      0
author    0
dtype: int64

 - Нямаме прази клетки
 - Имаме само текстови полета
 - Класовете са 3 на брой